html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.legend {
    border: 2px solid black;
    border-radius: 10px;
    width: 270px;
    height: 385px;
    background: rgba(240, 240, 240, 0.6);
}

.legend i {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}

.legend p, strong {
    margin-left: 7px;
    text-align: left;
}

.history_button {
    border: 2px solid black;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    background: rgba(240, 240, 240, 0.6);
    margin-bottom: 5px;
}

.history_button:hover {
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.history_range {
    width: 270px;
}

.live_button {
    border: 2px solid black;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    background: rgba(240, 240, 240, 0.6);
    display: none;
    color: red;
}

.live_button:hover {
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

#history_window {
    border: 2px solid black;
    border-radius: 10px;
    width: 270px;
    height: 30px;
    background: rgba(240, 240, 240, 0.6);
    margin-bottom: 5px;
}

#history_window:hover {
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

#time_label {
    width: 270px;
    height: 75px;
    color: red;
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
}

#map .runner_icon {
    text-align: center;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 18px;
    font-family: 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

#map .runner_icon_green {
    background: rgba(62, 164, 16, 0.4);
}

#map .runner_icon_orange {
    background: rgba(255, 148, 42, 0.4);
}

#map .runner_icon_red {
    background: rgba(255, 0, 0, 0.4);
}

#map .runner_icon_empty {
    background: rgba(230, 230, 255, 0.8);
}
