html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

#map, #eval-graph {
    overflow: hidden;
}

#divider {
    background-color: gray;
    height: 5px;
    cursor: ns-resize;
    width: 100%;
}

#map {
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    flex-basis: 100%;
}

#eval-graph {
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 800;
    flex-basis: 0%;
    background: #555;
}

#eval-pulsar-name {
    margin-left: 4px;
    margin-top: 1px;
    color: white;
    font-size: 13px;
    font-family: 'sans-serif';
    font-weight: bold;
    cursor: pointer;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
}

.legend {
    border: 2px solid #555;
    border-radius: 10px;
    width: 270px;
    height: 410px;
    background: rgba(240, 240, 240, 1);
    z-index: 500;
}

.legend i {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}

.legend p, strong {
    margin-left: 7px;
    text-align: left;
}

.history_button {
    border: 2px solid #555;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    background: rgba(240, 240, 240, 1);
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

.history_button:hover {
    border: 2px solid #555;
    background: #555;;
    color: white;
}

.history_range {
    width: 270px;
    cursor: pointer;
}

.live_button {
    border: 2px solid #555;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    background: rgba(240, 240, 240, 1);
    display: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.live_button:hover {
    border: 2px solid #555;
    background: #555;
    color: white;
}

.leaflet-tooltip-left:before {
    right: 0;
    margin-right: -12px;
    border-left-color: rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip-right:before {
    left: 0;
    margin-left: -12px;
    border-right-color: rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip-own {
    position: absolute;
    padding: 4px;
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid #555;
    color: #000;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-radius: 6px;
}

#history_window {
    font-weight: bold;
    border: 2px solid #555;
    border-radius: 10px;
    width: 270px;
    height: 30px;
    background: rgba(240, 240, 240, 1);
    margin-bottom: 5px;
    cursor: pointer;
}

#history_window:hover {
    border: 2px solid #555;
    background: #555;
    color: white;
}

#time_label {
    width: 270px;
    height: 75px;
    color: red;
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
}

#map .runner_icon {
    text-align: center;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    font-family: 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

#map .runner_icon_empty {
    background: rgba(230, 230, 255, 0.6);
}

#map .runner_icon_empty:hover {
    background: rgba(230, 230, 255, 1);
}

.grid line {
        stroke: lightgray;
        stroke-opacity: 0.2;
        shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 82px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 8px;
    pointer-events: none;
    border: 2px solid #555;
}
